.flip-card {
  /* background-color: transparent; */
  width: 150px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-back.matched {
  border-color: green;
}

.card-container {
  display: grid;
  gap: 15px;
  justify-items: center;
  margin: 24px;
}

.cards-6 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cards-12 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .flip-card {
    width: 120px;
    height: 150px;
  }

  .card-container {
    gap: 10px;
    margin: 8px;
  }

  .cards-12 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 480px) {
  .card-container {
    gap: 5px;
    margin: 0px;
  }

  .flip-card {
    width: 115px;
    height: 150px;
  }
}

.shuffle-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shuffle-button {
  display: flex;
  justify-content: center;
}

.speak-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.language-label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 5px;
  border-radius: 3px;
  color: #777777;
}
